$bg-color: #f0f8ff; // Светло-голубой фон
$card-bg: #ffffff; // Белый фон карточки
$text-color: #333; // Цвет текста
$primary-color: #8ab6d6; // Пастельный голубой
$border-radius: 12px;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color;
  min-height: 100vh;
  padding: 20px;

  h1 {
    color: $primary-color;
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.detailCard {
  background: $card-bg;
  border-radius: $border-radius;
  padding: 20px;
  box-shadow: $shadow;
  width: 100%;
  max-width: 600px;
  text-align: center;

  .inStock {
    color: rgb(17, 184, 142);
    font-weight: 900;
  }
  
  .noInStock {
    color: rgb(189, 52, 93);
    font-weight: 900;
  }

  h2 {
    font-size: 22px;
    color: $primary-color;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: $text-color;
    margin-bottom: 10px;
  }
}

.editButton {
  background: linear-gradient(135deg, $primary-color, darken($primary-color, 10%));
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  transition: 0.3s;

  &:hover {
    background: darken($primary-color, 15%);
  }
}
