@import "../../styles/variables.scss";

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color;
  min-height: 100vh;
  padding: 20px;
  position: relative;

  h1 {
    color: $primary-color;
    font-size: 24px;
    margin-bottom: 20px;
  }
}

// Уведомление в правом нижнем углу
.stockNotification {
  position: fixed;
  left: 20px;
  top: 40px;
  background: #dfffd6;
  color: #2f6627;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: $shadow;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 180px;
  justify-content: space-between;
  
  button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #2f6627;

    &:hover {
      color: red;
    }
  }
}

.itemList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  width: 100%;
  max-width: 800px;

  .itemCard {
    background: $card-bg;
    border-radius: $border-radius;
    padding: 15px;
    box-shadow: $shadow;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
    }

    h2 {
      font-size: 18px;
      color: $primary-color;
    }

    p {
      font-size: 14px;
      color: $text-color;
    }
  }

  .glowingBorder {
    border: 2px solid green;
    box-shadow: $green-glow;
  }
}
